@model IEnumerable<OSK_App.Entities.StudentCourse>

@{
    ViewData["Title"] = "Zapłacone kursy";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<link href="~/StaticFiles/General/paymentStyle.css" rel="stylesheet" />

<style>
.tablePage {
    margin-top: 15px;
    border: 1px solid #69BF37;
}

.trHeader {
    background-color: #69BF37;
}

tr.dane:hover {
    background-color: rgb(128, 255, 128, 0.6);
}
</style>

<div>
    <a asp-controller="Payment" asp-action="GetPayments" class="btn btn-primary">Wszystkie właty</a>
    <a asp-controller="Payment" asp-action="GetStudentsPaymentEntireCourse" class="btn btn-success">Zapłacony kurs</a>
    <a asp-controller="Payment" asp-action="GetStudentNotPaymentEntireCourse" class="btn btn-danger">Niezapłacony kurs</a>
</div>

<div style="clear:both; padding:10px 10px 30px 10px;">

    <div style="float:left;" id="paginesBtn">
        <div style="float:left;">
            <button id="previous" class="btn btn-sm btn-outline-primary" style="cursor:pointer; margin-right:5px;"><i class="icon-left-open"></i></button>
            <button id="next" class="btn btn-sm btn-outline-primary" style="cursor: pointer; margin-left: 5px;"><i class="icon-right-open"></i></button>
        </div>
        <div style="float:left; margin-left:20px;" id="numberPage"></div>
    </div>

    <div>
        <form asp-controller="Student" asp-action="GetStudents">
            <a asp-controller="Student" asp-action="GetStudents" class="btn btn-sm btn-outline-warning" style="float: right; margin-left: 4px;"><i class="icon-arrows-cw"></i></a>
            <button class="btn btn-sm btn-outline-primary" style="float:right; margin-left: 4px;" type="submit"><i class="icon-search"></i></button>
            <input name="surname" value="" placeholder="Wyszukaj po nazwisku" id="searchStudentTxt" style="float:right; width:250px;" type="text" />
        </form>
    </div>
</div>

@{

    var countOfPages = Math.Ceiling((decimal)Model.Count() / 10);
    int countOfUsers = Model.Count();

    List<int> elementInPage = new List<int>();

    for (int i = 0; i < countOfPages; i++) {
        if (countOfUsers > 10) {
            elementInPage.Add(10);
            countOfUsers -= 10;
        }
        else { elementInPage.Add(countOfUsers); }
    }

    for (int i = 0; i < countOfPages; i++) {

        int startIndex = 0;


        <table class="table table-light tablePage" id="page@(i+1)" hidden>
            <tr class="trHeader">
                <th>
                    Kursant
                </th>
                <th>
                    Data rozpoczęcia
                </th>
                <th>
                    Data zakończenia
                </th>
                <th>
                    Suma wpłat
                </th>
                <th>
                    Status kursanta
                </th>
                <th>
                    Kurs
                </th>
                <th></th>
            </tr>
            @for (int j = startIndex; j < elementInPage[i]; j++) {
                startIndex += elementInPage[i];
                <tr class="dane">
                    <td>
                        @Model.ElementAt((i * 10) + j).Student.User.FirstName @Model.ElementAt((i * 10) + j).Student.User.Surname
                    </td>
                    <td>
                        @Model.ElementAt((i * 10) + j).StartDate
                    </td>
                    <td>
                        @Model.ElementAt((i * 10) + j).EndDate
                    </td>
                    <td>
                        @Model.ElementAt((i * 10) + j).SumOfPayment
                    </td>
                    <td>
                        @Model.ElementAt((i * 10) + j).StudentStatus
                    </td>
                    <td>
                        @Model.ElementAt((i * 10) + j).Course.Name
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </table>


    }

}



<script src="~/StaticFiles/General/userPaginate.js"></script>
