@model IEnumerable<OSK_App.Entities.Course>

@{
    ViewData["Title"] = "Lista kursów";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<link href="~/StaticFiles/modalStyle.css" rel="stylesheet" />
<link href="~/StaticFiles/ListOfCourse/style.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

<div style="float: left; width: 100%; background-color: #033a52; color: white; font-weight: bold;">
    <div style="float:left; padding:3px 0 0 5px;"><h4>KURS - LISTA KURSÓW</h4></div>
    <div style="float: right;"><a class="nav-link text-light" asp-controller="Course" asp-action="AddCourse">+ Dodaj kurs</a></div>
</div>

<div style="clear:both; padding:10px 10px 30px 10px;">

    <div style="float:left;" id="paginesBtn">
        <div style="float:left;">
            <button disabled id="previous" class="btn btn-sm btn-outline-primary" style="cursor:pointer; margin-right:5px;"><i class="icon-left-open"></i></button>
            <button disabled id="next" class="btn btn-sm btn-outline-primary" style="cursor: pointer; margin-left: 5px;"><i class="icon-right-open"></i></button>
        </div>
        <div style="float:left; margin-left:20px;" id="numberPage">Strona 1 / 1</div>
    </div>

    <div>
        <!--<form asp-controller="Student" asp-action="GetVehicles">-->
        <div>
            <a asp-controller="Course" asp-action="GetCourses" class="btn btn-sm btn-outline-warning" style="float: right; margin-left: 4px;"><i class="icon-arrows-cw"></i></a>
            <button class="btn btn-sm btn-outline-primary" style="float:right; margin-left: 4px;" type="submit"><i class="icon-search"></i></button>
            <input name="surname" value="" placeholder="Wyszukaj po nazwie kursu" id="searchStudentTxt" style="float:right; width:250px;" type="text" />
        </div>
    </div>

</div>

<table class="table table-light tablePage">
    <tr class="trHeader">
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Category.Symbol)</th>
        <th>@Html.DisplayNameFor(model => model.AmountTheoretical)</th>
        <th>@Html.DisplayNameFor(model => model.AmountPractical)</th>
        <th>@Html.DisplayNameFor(model => model.CourseCost)</th>
        <th>Il. kursantów</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr class="dane">
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.Symbol)</td>
            <td>@Html.DisplayFor(modelItem => item.AmountTheoretical)</td>
            <td>@Html.DisplayFor(modelItem => item.AmountPractical)</td>
            <td>@Html.DisplayFor(modelItem => item.CourseCost)</td>
            <td>@Html.DisplayFor(modelItem => item.CountOfStudents)</td>
            <td>
                <a class="nav-link text-dark icon" asp-action="Edit" asp-route-id="@item.ID"><i class="icon-pencil"></i></a>
                <a class="nav-link text-dark icon studentParticipantsBtn" style="cursor:pointer;"><i class="icon-group"></i></a>
                <a class="nav-link text-dark icon" asp-action="Delete" asp-route-id="@item.ID"><i class="icon-trash"></i></a>
                <span id="courseID" style="display:none">@item.ID</span>
            </td>
        </tr>
    }
</table>

<div id="studentParticipantsModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Uczestnicy kursu</h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <button id="getStudentsBtn" type="button" class="btn btn-sm btn-primary">Pobierz listę</button>
            <div id="membersData">
                <table id="participantsTable" class="table table-light">
                    <tr>
                        <th>Kursant</th>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Status</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/StaticFiles/ListOfCourse/CourseMembers.js"></script>
<script src="~/StaticFiles/ListOfCourse/listOfStudents.js"></script>

